.faq {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.faq__button-box {
  display: flex;
  flex-direction: column;
  min-height: 20%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 0 25px 0;
}
