.support {
  padding: 40px 45px 90px 45px;
  color: #fff;
}
.support__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Actay Wide', sans-serif;
}
.support__text:first-of-type {
  margin-top: 70px;
}
.support__link {
  text-decoration: underline;
}
