.subscription {
  padding: 16px 30px 110px 30px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  text-align: center;
  font-family: 'Actay Wide', sans-serif;
}
.subscription__subtitle {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: 'Actay', sans-serif;
}
.subscription__title {
  margin: 14px 0 0 0;
  font-size: 3.2rem;
  font-weight: 700;
}
.subscription__text {
  margin: 12px 0 18px 0;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Actay', sans-serif;
}
.subscription__widget {
  border: 1.5px solid #ffffff;
  border-radius: 12px;
  padding: 10px;
  width: 49%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscription__widget-value {
  margin-top: 4px;
  font-size: 2.4rem;
  font-weight: 700;
}
.subscription__widget-box {
  display: flex;
  justify-content: space-between;
}
.subscription__widget-box.centered {
  justify-content: center;
}
.subscription__widget-text {
  font-family: 'Actay', sans-serif;
  font-size: 10px;
  line-height: 1.1rem;
}
.subscription__widget_secondary {
  width: 100%;
  border-radius: 12px;
  border: 1.5px solid #fff;
  padding: 11px 22px;
  box-sizing: border-box;
  margin-top: 5px;
}
.subscription__widget_secondary.hidden {
  display: none;
}
.subscription__widget-text_secondary {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Actay', sans-serif;
}
.subscription__widget_disabled {
  display: none;
}
@media screen and (max-height: 552px) {
  .subscription {
    padding-bottom: 16px;
  }
}
