.app-button {
  box-sizing: border-box;
  width: 287px;
  min-height: 48px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 14px;
  font-size: 20px;
  line-height: 25px;
  padding: 0;
  font-weight: 700;
}
.app-button:first-of-type {
  margin-top: 0;
}
