.app-button {
  box-sizing: border-box;
  width: 90%;
  min-height: 48px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0;
  font-weight: 700;
  font-family: 'Actay Wide', sans-serif;
  border: 2px solid transparent;
}
.app-button.blue {
  color: var(--blue);
}
.app-button.white {
  color: var(--white);
}
.app-button.violet {
  color: var(--violet);
}
.app-button.rose {
  color: var(--rose);
}
.app-button.dark-blue {
  color: var(--dark-blue);
}
.app-button.orange {
  color: var(--orange);
}
.app-button.primary {
  background-color: var(--white);
  border-color: transparent;
}
.app-button.secondary {
  background-color: transparent;
  border: 2px solid #fff;
}
.app-button.narrow {
  margin: 0;
  width: 48%;
  font-size: 1.4rem;
}
.app-button.wide {
  width: 100%;
}
.app-button.small-text {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0 20px;
  min-height: 35px;
  box-sizing: border-box;
}
.app-button.border-transparent {
  border-color: transparent;
}
.app-button.border-blue {
  border: 2px solid #348ff3;
}
.app-button.bg-blue {
  background-color: var(--blue);
}
.app-button.bg-orange {
  background-color: var(--orange);
}
.app-button.bg-dark-blue {
  background-color: var(--dark-blue);
}
.app-button.bg-violet {
  background-color: var(--violet);
}
.app-button.support-disabled {
  color: var(--gray);
  pointer-events: none;
}
.app-button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--gray);
}
.app-button.margin-bottom {
  margin: 0 0 15px 0;
}
.app-button.margin-top {
  margin: 10px 0 0 0;
}

.app-button.free {
  border-color: transparent;
  background-color: var(--violet);
  color: var(--white);
}
.app-button.fit {
  margin-top: 10px;
  color: var(--white);
  background-color: var(--orange);
  border-color: transparent;
}

.app-button.nolimit {
  margin-top: 0;
  color: var(--white);
  background-color: var(--rose);
  border-color: transparent;
}

@media screen and (max-height: 650px) {
  .app-button.fit,
  .app-button.nolimit,
  .app-button.free {
    margin-top: 0;
  }
}
