.menu-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 48%;
  width: 47%;
  cursor: pointer;
  text-decoration: none;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  text-align: start;
  font-family: 'Actay', sans-serif;
}

.menu-button__icon {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 25%;
  max-width: 35px;
  max-height: 35px;
}
.menu-button__title {
  font-weight: 700;
  margin: 0 0 3px 0;
  font-family: 'Actay Wide', sans-serif;
}

.menu-button__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.menu-button__additional-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
.menu-button.btn-my-tariff {
  width: 100%;
  height: 20%;
  background-color: #064b72;
}

.menu-button.btn-balance {
  background-color: #ff824b;
  width: 48%;
  height: 48%;
}
.menu-button.btn-referrals {
  height: 48%;
  background-color: #7472eb;
}

.menu-button.btn-traffic {
  width: 48%;
  height: 31%;
  background-color: #f95273;
  margin-left: auto;
}
.menu-button.btn-options {
  width: 48%;
  height: 31%;
  font-size: 14px;
  margin-left: auto;
  background-color: #ffbe30;
}
.menu-button.btn-support {
  width: 48%;
  height: 31%;
  background-color: #348ff3;
  margin-left: auto;
}
.menu-button.btn-options .menu-button__icon {
  width: 30px;
  height: 30px;
}
.menu-button.btn-our-values {
  height: 18%;
  margin-bottom: 3%;
  width: 100%;
  background-color: #ff824b;
}
.menu-button.btn-our-values .menu-button__icon {
  height: 40px;
}
.menu-button.btn-our-values .menu-button__title {
  font-size: 24px;
}
.menu-button.btn-our-possibilities {
  height: 18%;
  margin-bottom: 3%;
  width: 100%;
  background-color: #f95273;
}
.menu-button.btn-our-possibilities .menu-button__title {
  font-size: 24px;
}
.menu-button.btn-our-possibilities .menu-button__icon {
  height: 40px;
}

.menu-button.btn-news {
  height: 100%;
  width: 48%;
  background-color: #348ff3;
}
.menu-button.btn-news .menu-button__title {
  font-size: 24px;
}

.menu-button.btn-news {
  height: 100%;
  width: 48%;
  background-color: #348ff3;
}
.menu-button__title.btn-news {
  font-size: 26px;
  line-height: 20px;
}
.menu-button.btn-faq {
  height: 49%;
  width: 49%;
  background-color: #7472eb;
  margin-bottom: 2%;
  margin-left: auto;
}
.menu-button.btn-faq .menu-button__icon {
  height: 40px;
}
.menu-button.btn-no-responce {
  height: 47%;
  width: 49%;
  background-color: #ffbe30;
  margin: auto 0 0 auto;
}
.menu-button__title.btn-no-responce {
  font-size: 16px;
  line-height: 20px;
}
.menu-button.btn-no-responce .menu-button__icon {
  height: 40px;
}
.btn-our-values .menu-button__text {
  font-size: 14px;
}
.btn-our-possibilities .menu-button__text {
  font-size: 14px;
}
.btn-faq .menu-button__text {
  font-size: 12px;
}
.menu-button__title.btn-referrals {
  font-size: 17px;
}

.menu-button.btn-referral {
  background-color: #7472eb;
  height: 26%;
  margin-left: auto;
}

.menu-button.btn-my-vpn {
  background-color: #348ff3;
  height: 64%;
}
.menu-button__title.btn-my-vpn {
  font-size: 40px;
  line-height: 43px;
}
.menu-button.btn-not-understand {
  background-color: #f95273;
  height: 33%;
}
.menu-button__title.btn-not-understand {
  font-size: 24px;
  line-height: 25px;
}

.menu-button.btn-tariffes {
  background-color: #ff824b;
  height: 20%;
  margin-left: auto;
  width: 100%;
}
.menu-button__title.btn-tariffes {
  font-size: 30px;
  line-height: 34px;
}
.menu-button.btn-referral {
  background-color: #7472eb;
  height: 26%;
  margin-left: auto;
  width: 48%;
}
.menu-button__title.btn-referral {
  font-size: 16px;
  line-height: 18px;
}
.menu-button.btn-gift {
  background-color: #ffbe30;
  height: 32%;
  margin-left: auto;
  width: 48%;
}
.menu-button__title.btn-gift {
  font-size: 24px;
  line-height: 25px;
}

.menu-button.btn-robot {
  background-color: #064b72;
  height: 36%;
  width: 48%;
  margin-left: auto;
}
.menu-button__title.btn-robot {
  font-size: 16px;
  line-height: 18px;
}
.menu-button.btn-referrals {
  height: 48%;
  width: 48%;
  background-color: #7472eb;
}
.menu-button__title.btn-referrals {
  font-size: 16px;
  line-height: 18px;
}
