.app {
  width: 100vw;
  min-width: 375px;
  max-height: 708px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  transition: background-color 0.2s linear;
}
.app-gift,
.app-options,
.app-optionscomplete,
.app-message-us {
  background-color: #ffbe30;
}
.app-referral {
  background-color: #7472eb;
}
.app-balance {
  background-color: #ff824b;
}
.app-traffic {
  background-color: #f95273;
}
.app-support.nolimit {
  background-color: #348ff3;
}
.app-support {
  background-color: #aeaeae;
}
.app-faq {
  background-color: #7472eb;
}
.app-news {
  background-color: #aeaeae;
}
.app-possibilities {
  background-color: #f95273;
}
.app-values {
  background-color: #ff824b;
}
.app-subscription {
  background-color: #064b72;
}
.app-payment {
  background-color: #fff;
}
.app-success {
  background-color: #064b72;
}

@media screen and (orientation: landscape) {
  .app {
    width: 375px;
    height: 708px;
    margin: 0 auto;
  }
}
@media screen and (max-height: 648px) {
  .app {
    overflow: hidden;
  }
}
