.app {
  width: 100vw;
  min-width: 375px;
  min-height: 708px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  transition: background-color 0.5s ease;
}
.app-gift {
  background-color: #ffbe30;
}
.app-referral {
  background-color: #7472eb;
}
@media screen and (orientation: landscape) {
  .app {
    width: 375px;
    height: 708px;
    margin: 0 auto;
    overflow-y: scroll;
  }
}
