.data-item {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0 37px;
  box-sizing: border-box;
  flex-grow: 1;
}
.data-item__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(225deg);
  background-color: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  right: 0;
  top: 40%;
  transition: all 0.3s linear;
}
.data-item__content {
  width: 100%;
}
.data-item__arrow_rotated {
  transform: rotate(45deg);
}
.data-item__button {
  position: relative;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  text-align: start;
  max-height: 76px;
  height: 100%;
}
.data-item__text {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-weight: 400;
}
.data-item_expanded {
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-values .data-item_expanded {
  background-color: #ff824b;
}
