.tariffes__free-text {
  font-family: 'Actay Wide', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 90%;
  margin: 30px auto;
}
.tariffes__free-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 0;
}

.tariffes__free-title {
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}
.tariffes__free-widgets {
  display: flex;
  flex-direction: column;
}
.tariffes__free-widget_small {
  background-color: #7472eb;
  border-radius: 12px;
  color: #fff;
  padding: 15px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
}
.tariffes__free-widget_small:last-of-type {
  margin-top: 5px;
}
.tariffes__free-widget-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin-top: 15px;
}
.tariffes__free-widget-info-text:last-of-type {
  margin-top: 10px;
}
.tariffes__free-widget-info-text {
  margin: 0 0 5px 0;
}
.tariffes__free-widget-info-text_bold {
  margin: 0;
  font-weight: 700;
}
.tariffes__free-widget-title {
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  margin: 10px 0 5px 0;
  width: 50%;
  text-align: start;
}
.tariffes__free-widget-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 50%;
}
