.referral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 35px 61px 35px;
  box-sizing: border-box;
  color: var(--white);
}
.referral__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.referral__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
  margin: 5px 0;
}
.referral__text-box {
  padding-top: 10%;
  width: 100%;
  font-family: 'Actay Wide', sans-serif;
}
.referral__text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 0;
}
.referral__stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.referral__stat {
  border: 1.5px solid #ffffff;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.referral__stat_small {
  width: 49%;
}
.referral__stat_big {
  width: 100%;
  flex-direction: row;
  margin-top: 2%;
}
.referral__stat_big .referral__stat-value {
  width: 50%;
}
.referral__stat_big .referral__stat-text {
  margin: 0;
  width: 50%;
}
.referral__stat-value {
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Actay Wide', sans-serif;
}
.referral__stat-text {
  font-size: 10px;
  line-height: 1.1rem;
  margin: 10px 0 0 0;
  font-family: 'Inter', sans-serif;
}
.referral__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.referral__tips {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 0 0 20px 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
.referral__tips:first-of-type {
  margin: 22px 0 8px 0;
}
.referral__popup-text {
  margin: 10px;
  font-size: 1.3rem;
}
.referral__popup-text:last-of-type {
  margin-bottom: auto;
}
@media screen and (max-height: 650px) {
  .referral__popup-text {
    margin: 0 0 10px 0;
  }
  .referral__popup-text:first-of-type {
    margin-top: 20px;
  }
  .referral__text-box {
    padding-top: 0;
  }
}
