.current-tariff-widget {
  border: 1px solid var(--blue);
  display: flex;
  width: 100%;
  border-radius: 12px;
  font-family: 'Actay', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--blue);
  padding: 5px 10px;
  box-sizing: border-box;
}
