.back-button {
  height: 56px;
  width: 90%;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.back-button__corner {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  background-color: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s linear;
}
.back-button:hover .back-button__corner {
  left: -10px;
}
.back-button.btn-my-vpn {
  color: #006ffd;
  height: 10%;
}
.back-button.btn-my-vpn .back-button__corner {
  border-color: #006ffd;
}
.back-button-help {
  color: #006ffd;
}
.back-button.back-button-help .back-button__corner {
  border-color: #006ffd;
}
.back-button-referral {
  width: 100%;
}
