.back-button {
  height: 60px;
  width: 82%;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding: 0 20px;
  position: relative;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}
.back-button__corner {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  background-color: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s linear;
  border-color: #006ffd;
}
.back-button__title {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Actay', sans-serif;
  line-height: 12px;
  color: #006ffd;
  display: flex;
  max-width: 25%;
  width: 100%;
  text-align: left;
}
.back-button__section-title {
  max-width: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--blue);
  justify-self: center;
}
.back-button.white {
  color: var(--white);
}
.back-button.moved-right {
  margin-left: 30px;
  width: 70%;
}
.back-button.white .back-button__corner {
  border-color: var(--white);
}
.back-button.white .back-button__title {
  color: var(--white);
}
.back-button.white .back-button__section-title {
  color: var(--white);
}
.back-button.narrow {
  width: 80%;
  margin: 0 auto;
}
