.tariffes-template {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.tariffes-template.free {
  color: #7472eb;
}
.tariffes-template__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
.tariffes-template__content-secondary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tariffes-template__content-button {
  width: 100%;
  border: none;
  background-color: #f8f9fe;
  border-radius: 16px;
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 24px;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 10px;
  position: relative;
}
.tariffes-template__content-button.hidden {
  opacity: 0;
}
.tariffes-template__content-button.free {
  color: #7472eb;
}
.tariffes-template__content-button.fit {
  color: #ff824b;
  margin-bottom: 10px;
}
.tariffes-template__content-button.nolimit {
  color: #f95273;
}
.tariffes-template__content-button-arrow {
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  background-color: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  right: 35px;
}
.tariffes-template__content-button-arrow.free {
  border-color: #7472eb;
}
.tariffes-template__content-button-arrow.fit {
  border-color: #ff824b;
}
.tariffes-template__content-button-arrow.nolimit {
  border-color: #f95273;
}
@media screen and (max-height: 650px) {
  .tariffes-template__content-button.fit {
    margin-bottom: 5px;
  }
}
