.tariffes {
  padding: 16px 24px 61px 24px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tariffes__button-box {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.tariffes__tips {
  color: var(--blue);
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
}
.tariffes__content-secondary {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.tariffes__error {
  font-size: 1.2rem;
  color: red;
  text-align: center;
  width: 100%;
  height: 20px;
}

@media screen and (max-height: 650px) {
  .tariffes__popup-container,
  .tariffes__popup-overlay {
    height: 85%;
  }
  .tariffes__popup-container {
    margin-bottom: 5%;
  }
  .tariffes.free,
  .tariffes.fit,
  .tariffes.nolimit {
    padding-bottom: 16px;
  }
}
@media screen and (max-height: 552px) {
  .tariffes__popup-overlay {
    height: 86%;
  }
  .tariffes__popup-container {
    margin-bottom: 0;
  }
}
