.tariffes {
  padding: 16px 24px 61px 24px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tariffes-list {
  margin: 0 0 auto 0;
}
.tariffes-list__current-title {
  border: 2px solid var(--blue);
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue);
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.tariffes__popup-container {
  height: 90%;
  overflow-y: scroll;
  position: relative;
}
.tariffes__popup-overlay {
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(
    to top,
    #fff 1%,
    transparent 7%,
    transparent 95%,
    #fff 100%
  );
  z-index: 10;
}
.tariffes__button-box {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.tariffes__tips {
  color: #348ff3;
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
}
.tariffes__content-secondary {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.tariffes__error {
  font-size: 12px;
  color: red;
  text-align: center;
  width: 100%;
  height: 20px;
}
.tariffes__free-text {
  font-family: 'Actay Wide', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 90%;
  margin: 30px auto;
}
.tariffes__content-fit {
  width: 100%;
}
.tariffes__content-nolimit {
  width: 100%;
}
.tariffes__free-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 0;
}
.tariffes__free-title {
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}
.tariffes__free-widgets {
  display: flex;
  flex-direction: column;
}
.tariffes__free-widget_small {
  background-color: #7472eb;
  border-radius: 12px;
  color: #fff;
  padding: 15px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
}
.tariffes__free-widget_small:last-of-type {
  margin-top: 5px;
}
.tariffes__free-widget-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin-top: 15px;
}
.tariffes__free-widget-info-text:last-of-type {
  margin-top: 10px;
}
.tariffes__free-widget-info-text {
  margin: 0 0 5px 0;
}
.tariffes__free-widget-info-text_bold {
  margin: 0;
  font-weight: 700;
}
.tariffes__free-widget-title {
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  margin: 10px 0 5px 0;
  width: 50%;
  text-align: start;
}
.tariffes__free-widget-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 50%;
}
@media screen and (max-height: 650px) {
  .tariffes__popup-container,
  .tariffes__popup-overlay {
    height: 85%;
  }
  .tariffes__popup-container {
    margin-bottom: 5%;
  }
}
